.dropdown-item:hover {
    background-color: rgb(201, 201, 201) !important;
}

.datepicker {
    transform: translate(-10px, 260px);
}

.listContainer {
    padding-left: 40px;
}

#body-logo {
    margin: 10px 40px;
    float: left;
    width: 150px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    max-height: 30px;

}

.navbar-nav > li {
    display: inline-block;
    float:none;
    top: -15px;
}

#nav-logo {
    position: relative;
    width: 8%;
}

#user-bio-hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:black !important;
}

span {
    text-align: justify;
    display: block;
}

a, a:hover {
    text-decoration: none;
    z-index: 10;
  }
  
a:hover {
    opacity: 0.8;
}

#user-publications {
    display: none;
}

#user-research {
    display: none;
}

#user-experience {
    display: none;
}

#user-awards {
    display: none;
}

